{% extends 'blogengine/base.html' %}

{% block title_block %}
    {{ post.title }}
{% endblock %}

{% block page_info %}
<div class="card">
    <div class="card-header">{{ post.date_pub }}</div>
    <div class="card-body">
        <h5 class="card-title text-info">{{ post.title }}</h5>
        <p class="card-text">{{ post.body }}</p>
        <p>{% for tag in post.tags.all %}
                <a href="{{ tag.get_absolute_url }}">#{{ tag.tag_name }}</a>
                    {% endfor %}</p>
    </div>
</div><br>
<a class="btn btn-outline-primary" href="{% url 'posts_list_url' %}" role="button">Other posts</a>
<a class="btn btn-outline-warning" href="{{ post.get_edit_url }}" role="button">Edit post</a>
<a class="btn btn-outline-danger" href="{{ post.get_delete_url }}" role="button">Delete post</a>
{% endblock %}
